*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.env
.env.prod

# CDK asset staging directory
.cdk.staging
cdk.out
src/celerybeat-schedule
src/.DS_Store
.DS_Store
celerybeat-schedule.db